@using MovieApp.MvcWebUI.Areas.Admin.Models.Items;
@model List<CategoryWithMoviesItem>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section customStyles{
    <link rel="stylesheet" href="~/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin/plugins/sweetalert2/sweetalert2.css">
}

@section customScripts{
    <script src="~/admin/plugins/chart.js/Chart.min.js"></script>
    <script src="~/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/jszip/jszip.min.js"></script>
    <script src="~/admin/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/admin/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/admin/plugins/sweetalert2/sweetalert2.js"></script>

    <script>
        $(document).ready(function () {
            // Tablo için gerekli JS komutları
            $("#example1").DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json'
                },
                order: [
                    [2, 'desc']
                ],
                "columnDefs": [{
                    "targets": 4,
                    "orderable": false,
                }],
                "lengthChange": false,
                "paging": false,
                "searching": true
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

            // Grafik için gerekli JS komutları
            var modelData = @Html.Raw(Json.Serialize(Model));
            function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }
            var donutData = modelData.map(function (item) {
                return { label: item.name, data: item.movies.length, backgroundColor: getRandomColor() }
            });
            var pieChartCanvas = $('#pieChart').get(0).getContext('2d');
            var pieData = {
                datasets: [{
                    data: donutData.map(function (data) { return data.data; }),
                    backgroundColor: donutData.map(function (data) { return data.backgroundColor; })
                }],
                labels: donutData.map(function (data) { return data.label; })
            };
            var pieOptions = {
                maintainAspectRatio: false,
                responsive: true,
            };
            new Chart(pieChartCanvas, {
                type: 'pie',
                data: pieData,
                options: pieOptions
            });

            // Kategori eklemek için gerekli JS komutları
            $("#btnAddCategory").click(function () {
                if ($("#addCategoryName").val().length != 0) 
                {
                    var formData = new FormData();
                    var categoryName = $("#addCategoryName").val();
                    formData.append("name", categoryName);

                    $.ajax({
                        url: "/Admin/Category/Save",
                        method: "post",
                        dataType: "json",
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (response) {
                            if (response.isSuccess) 
                            {
                                Swal.fire({
                                    title: 'İşlem Başarılı',
                                    text: response.message,
                                    icon: 'success',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'Tamam'
                                });
                                var table = $('#example1').DataTable();
                                var rowNode = table.row.add([response.categoryId, response.categoryName, 0, "<th><div class='progress progress-xs'><div class'progress-bar progress-bar-danger' style='width: 0%'></div></div><span class='badge bg-dark'>%0,00</span></th>", "İşlem yapmak için sayfayı güncelleyiniz."]).draw().node();
                                $(rowNode).css('color', 'red').animate({ color: 'red' });
                                $("#btnAddCategoryClear").trigger("click");
                            } 
                            else 
                            {
                                Swal.fire({
                                    title: 'İşlem Başarısız',
                                    text: response.message,
                                    icon: 'error',
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'Tamam'
                                });
                            }
                        }
                    });
                }
                else 
                {
                    Swal.fire({
                        title: 'İşlem Başarısız',
                        text: 'Lütfen bir içerik giriniz.',
                        icon: 'error',
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Tamam'
                    });
                }
            });

            // Kategori silmek için gerekli JS komutları
            $(".btnDeleteCategory").click(function () {
                var categoryId = $(this).attr("deleteCategoryId");

                Swal.fire({
                    title: 'Silme işlemi geri alınamaz!',
                    text: "Kategori Id'si " + categoryId + " olan kategoriyi silmek istiyor musunuz?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sil!',
                    cancelButtonText: 'Vazgeç!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/Admin/Category/Delete/" + categoryId,
                            method: "post",
                            datatype: "json",
                            success: function (response) {
                                if (response.isSuccess) {
                                    Swal.fire({
                                        title: 'İşlem Başarılı',
                                        text: response.message,
                                        icon: 'success',
                                        confirmButtonColor: '#3085d6',
                                        confirmButtonText: 'Tamam',
                                    });
                                    var table = $('#example1').DataTable();
                                    table.row($("#tr-" + categoryId)).remove().draw();
                                }
                                else {
                                    var errors = "";
                                    for (var i = 0; i < response.errorMessages.length; i++) {
                                        errors += response.errorMessages[i] + "<br />";
                                    }
                                    Swal.fire({
                                        title: 'İşlem Başarısız',
                                        text: response.message + "<br />" + errors,
                                        confirmButtonColor: '#3085d6',
                                        confirmButtonText: 'Tamam',
                                        icon: 'error',
                                    });
                                }
                            }
                        });
                    }
                    else {
                        Swal.fire({
                            title: 'İşlem İptal Edildi',
                            icon: 'info',
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Tamam'
                        });
                    }
                })
            });

            // Kategori güncellemek için gerekli JS komutları
            $(".btnUpdate").click(function(){
                var categoryId = $(this).attr("categoryId");
                var categoryName = $(this).attr("categoryName");

                $("#exampleModalLabel").val(categoryName + " Kategorisini Güncelleme Formu");
                $("#spanCategoryId").html(categoryId);
                $("#updateCategoryId").val(categoryId);
                $("#updateCategoryName").val(categoryName);

                $("#exampleModal").modal("show");

                $("#btnUpdateCategory").click(function(){
                    var updatedCategoryId = $("#updateCategoryId").val();
                    var updatedCategoryName = $("#updateCategoryName").val();
                    if(updatedCategoryName.length > 0)
                    {
                        var formData = new FormData();
                        formData.append("id", updatedCategoryId);
                        formData.append("name", updatedCategoryName);
                        $.ajax({
                            url: "/Admin/Category/Update",
                            method: "post",
                            dataType: "json",
                            contentType: false,
                            processData: false,
                            data: formData,
                            success: function(response){
                                if(response.isSuccess)
                                {
                                    Swal.fire({
                                        title: 'İşlem Başarılı',
                                        text: response.message,
                                        icon: 'success',
                                        showCancelButton: false,
                                        confirmButtonColor: '#3085d6',
                                        confirmButtonText: 'Tamam'
                                    });
                                    $("#btnClearEdit").trigger("click");
                                    $("#exampleModal").modal("hide");
                                }
                                else
                                {
                                    Swal.fire({
                                        title: 'İşlem Başarısız',
                                        text: response.message,
                                        icon: 'error',
                                        confirmButtonColor: '#3085d6',
                                        confirmButtonText: 'Tamam'
                                    });
                                }
                            }
                        });
                    }
                    else
                    {
                        Swal.fire({
                            title: 'İşlem Başarısız',
                            text: 'Lütfen bir içerik giriniz.',
                            icon: 'error',
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Tamam'
                        });
                    }
                });
            });
        });
    </script>
}

<!-- Kategori Grafikleri Etiketi Başlangıç -->
<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Kategorilere Ait Filmlerin Sayıca Dağılımları</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
                <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
            </div>
        </div>
        <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 304px;" width="608" height="500" class="chartjs-render-monitor"></canvas>
    </div>
</div>
<!-- Kategori Grafikleri Etiketi Bitiş -->

<hr />

<!-- Kategori Ekleme Alanı Başlangıç -->
<div class="row">
    <div class="col-12">
        <div class="card p-3">
            <h2>YENİ KATEGORİ EKLE</h2>
            <!-- Form Etiketi Başlangıç -->
            <form id="AddCategory">
                <div class="form-group">
                    <label for="addCategoryName">Yeni Kategori Adı</label>
                    <input type="text" id="addCategoryName" name="addCategoryName" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="reset" id="btnAddCategoryClear" class="btn btn-danger">İçeriği Temizle</button>
                    <button type="button" id="btnAddCategory" class="btn btn-warning mx-2">Kategoriyi Kaydet</button>
                </div>
            </form>
            <!-- Form Etiketi Bitiş -->
        </div>
    </div>
</div>
<!-- Kategori Ekleme Alanı Bitiş -->

<hr />

<!-- Kategori Tablosu Etiketi Başlangıç -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- Başlık Etiketi Başlangıç -->
            <div class="card-header">
                <h2>KATEGORİLER</h2>
            </div>
            <!-- Başlık Etiketi Bitiş -->

            <!-- Tablo Etiketi Başlangıç -->
            <div class="card-body table-responsive">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Kategori Id</th>
                            <th>Kategori Adı</th>
                            <th>Kayıtlı Film Sayısı</th>
                            <th>Tüm Kayıtlı Filmlere Göre Yüzdelik</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody id="tableContent">
                        @foreach (var item in Model)
                        {
                            var totalMovies = item.Movies.Count;
                            var totalMovieCount = Model.Sum(prd => prd.Movies.Count);
                            var percentage = totalMovieCount > 0 ? ((double)totalMovies / totalMovieCount) * 100 : 0;

                            <tr id="tr-@item.Id">
                                <th>@item.Id</th>
                                <th>@item.Name</th>
                                <th><b class="text-danger">@item.Movies.Count</b></th>
                                <th>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar progress-bar-danger" style="width: @percentage.ToString("0")%"></div>
                                    </div>
                                    <span class="badge bg-dark">@String.Format("%{0:F2}", percentage)</span>
                                </th>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#modal-primary-@item.Id">Filmleri Göster</button>
                                        <div class="modal fade" id="modal-primary-@item.Id">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">@item.Name Filmleri</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <ul>
                                                            @foreach (var movie in item.Movies)
                                                            {
                                                                <li>@movie.Name</li>
                                                            }
                                                            @if (item.Movies.Count == 0)
                                                            {
                                                                <li>Herhangi bir film kaydı bulunamadı.</li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <div class="modal-footer justify-content-end">
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Kapat</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-warning mx-2 btnUpdate" categoryId="@item.Id" categoryName="@item.Name">Güncelle</button>

                                        <button type="button" class="btn btn-danger btnDeleteCategory mx-2" deleteCategoryId="@item.Id">Sil</button>
                                    </div>
                                </th>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Kategori Id</th>
                            <th>Kategori Adı</th>
                            <th>Kayıtlı Film Sayısı</th>
                            <th>Tüm Kayıtlı Filmlere Göre Yüzdelik</th>
                            <th>İşlemler</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- Tablo Etiketi Bitiş -->
        </div>
    </div>
</div>
<!-- Kategori Tablosu Etiketi Bitiş -->


<!-- Kategori Güncelleme Etiketi Başlangıç -->
<div class="modal fade" data-backdrop="static" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Kategori Güncelle Formu</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="updateCategoryId"/>
                    <div class="card-body">
                        <p>Kategori Id: <b id="spanCategoryId"></b></p>
                        <div class="form-group">
                            <label for="updateCategoryName">Kategori Adı</label>
                            <input type="text" class="form-control" id="updateCategoryName" placeholder="Kategori adı giriniz.">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button id="btnClearEdit" type="reset" class="btn btn-danger">İçeriği Temizle</button>
                        <button id="btnUpdateCategory" type="button" class="btn btn-warning mx-2">Güncelle</button>           
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Kategori Güncelleme Etiketi Bitiş -->
