@using MovieApp.MvcWebUI.Models.ViewModels;
@model ProfileViewModel
@{
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

@section customStyles {
    <link rel="stylesheet" href="~/admin/plugins/sweetalert2/sweetalert2.css">
}

@section customScripts {
    <script src="~/admin/plugins/sweetalert2/sweetalert2.js"></script>
    <script>
        $(document).ready(function(){
            // Kişi yorumlarına göre uygun sayfaya yönlendirme
            $(".btnPersonComment").click(function(){
                var personId = $(this).attr("personId");
                window.location.href = "/Person/Actor/" + personId;
            });

            // Kişi yorumlarını silme işlemi yapan JS komutları
            $(".btnDeletePersonComment").click(function () {
                var id = $(this).attr("personCommentId");

                Swal.fire({
                    title: 'Silme işlemi geri alınamaz!',
                    text: "Yorum Id'si " + id + " olan yorumunuzu silmek istiyor musunuz?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sil!',
                    cancelButtonText: 'Vazgeç!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/PersonRating/Delete/" + id,
                            method: "post",
                            datatype: "json",
                            success: function (response) {
                                if (response.isSuccess) {
                                    Swal.fire({
                                        title: 'İşlem Başarılı',
                                        text: response.message,
                                        icon: 'success',
                                        confirmButtonColor: '#3085d6',
                                        confirmButtonText: 'Tamam',
                                    });
                                    $("#personComment-" + id).remove();
                                }
                                else {
                                    var errors = "";
                                    for (var i = 0; i < response.errorMessages.length; i++) {
                                        errors += response.errorMessages[i] + "<br />";
                                    }
                                    Swal.fire({
                                        title: 'İşlem Başarısız',
                                        text: response.message + "<br />" + errors,
                                        confirmButtonColor: '#3085d6',
                                        confirmButtonText: 'Tamam',
                                        icon: 'error',
                                    });
                                }
                            }
                        });
                    }
                    else {
                        Swal.fire({
                            title: 'İşlem İptal Edildi',
                            icon: 'info',
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Tamam'
                        });
                    }
                })
            });

            // Film yorumlarına göre uygun sayfaya yönlendirme
            $(".btnMovieComment").click(function () {
                var movieId = $(this).attr("movieId");
                window.location.href = "/Movie/Movie/" + movieId;
            });

            // Film yorumlarını silme işlemi yapan JS komutları
            $(".btnDeleteMovieComment").click(function () {
                var id = $(this).attr("movieCommentId");

                Swal.fire({
                    title: 'Silme işlemi geri alınamaz!',
                    text: "Yorum Id'si " + id + " olan yorumunuzu silmek istiyor musunuz?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sil!',
                    cancelButtonText: 'Vazgeç!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/MovieRating/Delete/" + id,
                            method: "post",
                            datatype: "json",
                            success: function (response) {
                                if (response.isSuccess) {
                                    Swal.fire({
                                        title: 'İşlem Başarılı',
                                        text: response.message,
                                        icon: 'success',
                                        confirmButtonColor: '#3085d6',
                                        confirmButtonText: 'Tamam',
                                    });
                                    $("#movieComment-" + id).remove();
                                }
                                else {
                                    var errors = "";
                                    for (var i = 0; i < response.errorMessages.length; i++) {
                                        errors += response.errorMessages[i] + "<br />";
                                    }
                                    Swal.fire({
                                        title: 'İşlem Başarısız',
                                        text: response.message + "<br />" + errors,
                                        confirmButtonColor: '#3085d6',
                                        confirmButtonText: 'Tamam',
                                        icon: 'error',
                                    });
                                }
                            }
                        });
                    }
                    else {
                        Swal.fire({
                            title: 'İşlem İptal Edildi',
                            icon: 'info',
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Tamam'
                        });
                    }
                })
            });

            // Güncelleme işlemi yapacak olan JS komutları
            $("#btnUpdateUser").click(function(){
                var nickname = $("#nickname").val();
                var firstName = $("#name").val();
                var lastName = $("#surname").val();
                var email = $("#email").val();
                var password1 = $("#password1").val();
                var password2 = $("#password2").val();
                if(firstName.length > 0 && lastName.length > 0 && email.length > 0 && password1.length > 0 && password2.length > 0)
                {
                    if(password1 == password2)
                    {
                        var formData = new FormData();
                        formData.append("nickname", nickname);
                        formData.append("firstName", firstName);
                        formData.append("lastName", lastName);
                        formData.append("email", email);
                        formData.append("password", password1);

                        $.ajax({
                            url: "/Profile/Update",
                            method: "post",
                            dataType: "json",
                            contentType: false,
                            processData: false,
                            data: formData,
                            success: function(response){
                                if (response.isSuccess)
                                {
                                    Swal.fire({
                                        title: 'İşlem Başarılı',
                                        text: response.message,
                                        icon: 'success',
                                        showCancelButton: false,
                                        confirmButtonColor: '#3085d6',
                                        confirmButtonText: 'Tamam'
                                    });
                                    $("#password1").val("");
                                    $("#password2").val("");
                                }
                                else
                                {
                                    Swal.fire({
                                        title: 'İşlem Başarısız',
                                        text: response.message,
                                        icon: 'error',
                                        confirmButtonColor: '#3085d6',
                                        confirmButtonText: 'Tamam'
                                    });
                                }
                            }
                        });
                    }
                    else
                    {
                        Swal.fire({
                            title: 'İşlem Başarısız',
                            text: "Şifreler aynı değil. Lütfen tekrar kontrol ediniz.",
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Tamam',
                            icon: 'error',
                        });
                    }
                }
                else
                {
                    Swal.fire({
                        title: 'İşlem Başarısız',
                        text: "Lütfen form alanlarını eksiksiz bir şekilde doldurunuz.",
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Tamam',
                        icon: 'error',
                    });
                }
            });
        });
    </script>
}

<!-- Hesap oluşturma etiketi başlangıç  -->
<h4 class="section-title text-center fs-1 mt-5">HESABIMI GÜNCELLE</h4>
<div class="border-bottom m-auto my-3 rounded-5"></div>
<div class="container">
    <form class="row g-3">
        @{
            var firstName = Model.User.FullName.Split(" ")[0];
            var lastName = Model.User.FullName.Split(" ")[1];
        }
        <div class="col-md-6">
            <input type="hidden" id="nickname" value="@Model.User.Nickname" />
            <label for="name" class="form-label">İsim</label>
            <input type="text" class="form-control" id="name" value="@firstName" placeholder="İsminizi giriniz.">
        </div>
        <div class="col-md-6">
            <label for="surname" class="form-label">Soyisim</label>
            <input type="text" class="form-control" id="surname" value="@lastName" placeholder="Soyisminizi giriniz.">
        </div>
        <div class="col-12">
            <label for="email" class="form-label">E-Mail</label>
            <input type="email" class="form-control" value="@Model.User.Email" id="email" placeholder="ornek@mail.com">
        </div>
        <div class="col-md-6">
            <label for="password1" class="form-label">Yeni Şifre</label>
            <input type="password" class="form-control" id="password1">
        </div>
        <div class="col-md-6">
            <label for="password2" class="form-label">Tekrar Yeni Şifre</label>
            <input type="password" class="form-control" id="password2">
        </div>
        <div class="col-12">
            <button type="reset" id="btnClearUpdateUser" class="btn btn-danger">İçeriği Temizle</button>
            <button type="button" id="btnUpdateUser" class="btn btn-warning">Kaydı Güncelle</button>
        </div>
    </form>
</div>
<!-- Hesap oluşturma etiketi bitiş -->

<h4 class="section-title text-center fs-1 mt-5">FİLM YORUMLARIM</h4>
<div class="border-bottom m-auto my-3 rounded-5"></div>

<!-- Tablo Etiketi Başlangıç -->
<div class="card-body table-responsive container">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Film Adı</th>
                <th>Yorumu</th>
                <th>Puanı</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.MovieRatings != null && Model.MovieRatings.Count > 0)
            {
                @foreach (var item in Model.MovieRatings)
                {
                    <tr id="movieComment-@item.Id">
                        <th>@item.MovieName</th>
                        <th>@item.Comment</th>
                        <th><span class="text-danger">@item.Point</span> Puan</th>
                        <th>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary mx-2 btnMovieComment" movieId="@item.MovieId">Yorum Sayfasına Git</button>
                                <button type="button" class="btn btn-danger mx-2 btnDeleteMovieComment" movieCommentId="@item.Id">Yorumu Sil</button>
                            </div>
                        </th>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th colspan="4" class="text-center fs-2">HENÜZ BİR YORUM YOK...</th>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Film Adı</th>
                <th>Yorumu</th>
                <th>Puanı</th>
                <th>İşlemler</th>
            </tr>
        </tfoot>
    </table>
</div>
<!-- Tablo Etiketi Bitiş -->

<h4 class="section-title text-center fs-1 mt-5">FİLM KİŞİLERİNE YORUMLARIM</h4>
<div class="border-bottom m-auto my-3 rounded-5"></div>

<!-- Tablo Etiketi Başlangıç -->
<div class="card-body table-responsive container">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Kişi Adı</th>
                <th>Yorumu</th>
                <th>Puanı</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PersonRatings != null && Model.PersonRatings.Count > 0)
            {
                foreach (var item in Model.PersonRatings)
                {
                    <tr id="personComment-@item.Id">
                        <th>@item.PersonName</th>
                        <th>@item.Comment</th>
                        <th><span class="text-danger">@item.Point</span> Puan</th>
                        <th>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary mx-2 btnPersonComment" personId="@item.PersonId">Yorum Sayfasına Git</button>
                                <button type="button" class="btn btn-danger mx-2 btnDeletePersonComment" personCommentId="@item.Id">Yorumu Sil</button>
                            </div>
                        </th>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th colspan="4" class="text-center fs-2">HENÜZ BİR YORUM YOK...</th>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Film Adı</th>
                <th>Yorumu</th>
                <th>Puanı</th>
                <th>İşlemler</th>
            </tr>
        </tfoot>
    </table>
</div>
<!-- Tablo Etiketi Bitiş -->